
<div *ngIf="isReady">

  <!-- {{  reposCollection | json  }} -->

  <table>
      
        <th>  FULL Name  </th>
        <th>  NODE ID</th>
        <th>  DEFAULT BRANCH</th>
        <th>  OPEN ISSUES </th>
    
      <tr *ngFor="let repo of repos">
        <td>
            {{ repo.full_name  }}     
        </td>
        <td>
            {{ repo.node_id  }}     
        </td>
        <td>
            {{ repo.default_branch  }}     
        </td>
        <td>
            {{ repo.open_issues  }}     
        </td>
      </tr>

  </table>

</div>





<div *ngIf="!isReady">

    <button (click)="fetchProjectResponse()">CLICK THIS</button>
</div>