<h1> APP COMPONENT NOW RENDERING! </h1>

<router-outlet></router-outlet>


<!-- <p [class]="classValue">APP COMPONENT PARAGRAPH</p>

<button (click)="changeClass()"  >CHANGE COLOR USING CSS CLASS</button>


<app-customer></app-customer> -->


<!-- <app-employee></app-employee> -->

<!-- <app-employee-with-service></app-employee-with-service> -->

<!-- <app-github-user></app-github-user> -->

<!-- <app-crypto-single-price></app-crypto-single-price> -->

<!-- <app-github-repos></app-github-repos> -->

<!-- <app-crypto-history></app-crypto-history> -->

<!-- <app-calculator></app-calculator> -->

<!-- <app-pipe-demo></app-pipe-demo> -->

<!-- <app-python-api-test></app-python-api-test> -->